<%- include('header', {title:`sighting`}); -%>
  <body>
    <%- include('nav'); -%>
    <div class='container col-10 bg-light border mt-4'>
      <%- include('sighting-header', {summary, date, time, duration, city, shape}); -%>
      <p class= "text-justify text-primary"><%=text %></p>
      <% if(locals.reported){ %>
        <h6 class="text-primary">Reported: <%= reported%></h6>
        <% } %>  
        
    <% if(locals.lat && locals.long) { %>
    <script>
      function initMap() {
        // The location of Uluru 
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: new google.maps.LatLng(<%=lat%>, <%=long%>),
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%=lat%>, <%=long%>),
          map: map,
        });
      }
    </script>

    <div id="map"><%= lat%>, <%= long%></div>
    <% } %>

    <div class="btn-group">
    <a href="/sighting/<%=index%>/edit" class="btn btn-outline-secondary btn-sm">Edit</a>
     <form
          action="/sighting/<%=index%>/delete?_method=DELETE"
          method="POST"
          class="d-inline-block "
        >
          <input
            type="submit"
            value="Delete"
            id="delete"
            class="btn btn-outline-secondary btn-sm"
           
          />
        </form>
    <a href="/sighting/<%=index %>/prev" class="btn btn-outline-secondary btn-sm">Prev</a>
    <a href="/sighting/<%=index %>/next" class="btn btn-outline-secondary btn-sm">Next</a>
    <a href="/sighting/<%=index%>?fav=<%=!fav %>" class="btn btn-outline-secondary btn-sm"
      <% if(fav){%>
        style ="color: coral;"
      <% } %>
      ><i class="fa fa-star" aria-hidden="true"></i></a>
    </div>
    </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA55CGjZZP9Yz82YjeR32VCCYU1zeQQPhA&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
