<div class="text-mute ">
  <h1 class="display-4 text-justify"><%=summary%></h1>
</div>
<div class="text-primary">
  <h6>Date time: <small><%=moment%>, <%=fromNow%></small></h6>
  <h6>Duration: <small><%=duration %></small></h6>
  <div class="text-capitalize">
    <h6>City: <small><%=city %></small></h6>
    <h6>
      State:
      <small><%=state %></small>
    </h6>
    <h6>Shape: <small><%=shape %></small></h6>
  </div>
</div>
